NVIDIA_API_KEY=
HF_TOKEN=

# LLM Configuration
# Models: nvidia/Nemotron-Mini-4B-Instruct, nvidia/NVIDIA-Nemotron-Nano-9B-v2-FP8, Qwen/Qwen3-4B-Instruct-2507
NVIDIA_LLM_URL=http://localhost:9000/v1
NVIDIA_LLM_MODEL=nvidia/Nemotron-Mini-4B-Instruct
GPU_MEMORY_UTILIZATION=0.15

RIVA_ASR_URL=localhost:50051
RIVA_ASR_LANGUAGE=en-US
RIVA_ASR_MODEL=parakeet-0.6b-en-US-asr-streaming

RIVA_TTS_URL=localhost:50051
RIVA_TTS_VOICE_ID=Magpie-Multilingual.EN-US.Aria
RIVA_TTS_MODEL=magpie_tts_ensemble-Magpie-Multilingual
RIVA_TTS_LANGUAGE=en-US

# Disable for ARM64
USE_BLINGFIRE=false

