NGC_API_KEY=
NVIDIA_API_KEY=
ZEROSHOT_TTS_NVIDIA_API_KEY=
ZERO_SHOT_AUDIO_PROMPT=
ENABLE_SPECULATIVE_SPEECH=true
CONFIG_PATH=./configs/config.yaml
BASE_URL="https://integrate.api.nvidia.com/v1"
LLM_MODEL="meta/llama-3.3-70b-instruct"
